<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|c:\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|c:\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <directoryBrowse enabled="false" />
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\WaicaRe-Portal V2" />
    <add key="WSGI_HANDLER" value="core.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="core.settings" />
  </appSettings>
</configuration>
