{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include '_includes/head.html' %}
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  {% include '_includes/preloader.html' %}

  <!-- Navbar -->
  {% include '_includes/navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include '_includes/sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% include '_includes/content-header.html' %}
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
   
      <div class="container-fluid">
        <div class="row">
   
            <div class="col-md-4 ">
              <div class="card card-metadata">
                <div class="card-header">
                    <h3 class="card-title"> </span><i class="fas fa-receipt ml-3  orange-text"></i> Edit Form - Receipt </h3><br> <br>  
                    <div class="alert alert-danger">
                       <h6 >Receipt  # {{receipt_number}} </h6>
                      
                    </div>
                   
            
            
  
                </div>
                <div class="card-body  ">
                    <div class="container-fluid ">
                      <form action="{% url 'PreviewApp:receiptupdate' foo=receipt_number %}" method="post" >
                          {% csrf_token %}
                          <div class="row ">
                            <div class="col-md-1 "></div>
                            <div class="col-md-10">
        
                              <div class="form-group text-center">
                                <label for="doclanguage" style="color: black;"><span class="text-primary">*</span>Document Language</label>
                                <select name="doclanguage" id="doclanguage"  class="form-control form-control-sm" required>
                                    <option value="" selected="selected" disabled>Select Language</option>
                                    <option value="EN" >English</option>
                                    <option value="FR">French</option>
                                </select>
                      
                              </div>
                              {% if technical  %}
                              {% for i in technical  %}
                                <div class="form-group  ">
                                  Current Language: <strong>{{i.Doclanguage}}</strong>
                                </div>  
                              {% endfor  %}
                              {% endif %}
                          
                            </div>
                            <div class="col-md-1 "></div>
                          </div>
                
                      
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group text-center ">
                                <input type="submit" class="btn  btn-warning btn-sm m-1" style="font-size: small;" value="Submit update">
                                  <div class="form-group ml-2 mt-3">
                                    <a href="{% url 'PreviewApp:preview' foo=receipt_number %}" class="btn btn-danger btn-sm " ><small>Back to Metadata</small></a>
                                      
                                    {% for i in technical %}
                                    {% if i.SendStatus == False %}
                                      <a href="{% url 'Mailer:mailer' foo=i.ReceiptNumber %}" class="btn btn-info btn-sm  " ><i style="font-size: 12px;" class="fas fa-paper-plane   ml-1"></i><small> Send E-Mail</small></a>
                                    {% else %}
                                    <a href="{% url 'Mailer:mailer' foo=i.ReceiptNumber %}" class="btn btn-primary btn-sm " ><i style="font-size: 12px;" class="fas fa-envelope-open "></i>  <small>Re-send to client</small> </a>
                                    {% endif %} 
                                  
                                    {% endfor %}
                                  </div>
                              </div>
                            </div>
                          </div>
                      </form>
                    </div>
                  
              
                  </div>
              </div>
            </div>
            <div class="col-md-8   ">
              {% if request.META.HTTP_HOST == '127.0.0.1:3000' %}
              <iframe class="card card-receipt"  style="width: 100%; border-color: white;border-radius:6px;margin: 0%;background-color: white;" name="text" src="http://127.0.0.1:3000/pdf_view/MPR-KE-0422-00138" ></iframe>
              {% else %}
              <iframe class="card  card-receipt"  style="width: 100%;border-color: white;border-radius:6px;margin: 0%;background-color: white;" name="text" src="http://{{ request.META.HTTP_HOST }}/pdf_view/{{receipt_number}}" ></iframe>
              {% endif %}
          </div>
          </div> 
        
      </div>
    
      <!--/. container-fluid -->
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

    <!-- Main Footer -->
    {% include '_includes/footer.html' %}
</div>
{% include '_includes/scripts.html' %}
</body>
</html>
